:root {
    --text-color: #6E8098;
    --body-bg-color: #f4f6f8;  
    --header-bg-color: #5964E0; 
    --color-white: #fff;
    --box-link-color: #19202D;
    --where-color: #5964E0;
    --checkbox-color: #19202D;
    --focus-color: #5964E0;
    --company-link: rgba(89, 100, 224, 0.1);
}

.dark-mode {
    --text-color: #6E8098;
    --body-bg-color: #121721;  
    --header-bg-color: #5964E0; 
    --color-white: #19202D;
    --box-link-color: #fff;
    --where-color: #5964E0;
    --checkbox-color: #999;
    --focus-color: #6E8098;
}

/* FONTS */
@font-face {
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 400;
    src:url("../fonts/kumbh-sans-v10-latin-regular.woff2") format("woff2"),
         url("../fonts/kumbh-sans-v10-latin-regular.woff") format("woff"); 
    font-display: swap;
  }

  @font-face {
    font-family: "Kumbh Sans";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/kumbh-sans-v10-latin-700.woff2") format("woff2"),
         url("../fonts/kumbh-sans-v10-latin-700.woff") format("woff"); 
    font-display: swap;
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--focus-color);
    outline-offset: 2px;
}

.logo-link:focus {
    outline: 3px dashed var(--color-white);
}

.checkbox-full:focus {
    outline: 3px dashed var(--header-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: "Kumbh Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
    padding-bottom: 104px;
}

/* HEADER */
.site-header {
    padding-top: 44px;
    padding-bottom: 84px; 
    background-color: var(--header-bg-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
}

/* FORM */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controll {
    position: relative;
    width: 48px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    /* padding: 5px; */
    margin-right: 16px;
    margin-left: 16px;
}

.controller {
    margin-left: 23px;
    width: 14px;
    height: 14px;
    background-color: var(--header-bg-color);
    border-radius: 50%;
    transition: transform 0.4s ease;
}

.controller:hover {
    background-color: #939BF4;
}

.control-day,
.control-night {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input-day:checked ~ .controll .control-night,
.input-night:checked ~ .controll .control-day {
    z-index: 5;
}


.input-day:checked ~ .controll .controller {
    transform: translateX(-100%);
}

.control-day:checked .controller {
    transform: translateX(-100%);
}

.label {
    display: flex;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.4s ease;
}

/* FORM-SEARCH */
.form-search {
    position: relative;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    padding-right: 16px;
    background-color: var(--color-white);
    border-radius: 6px;
}

.search {
    background-color: var(--color-white);
    padding-top: 28px;
    padding-bottom: 28px;
    border: none;
    border-right: 1px solid #6E8098;
}

.search-title {
    border-radius: 6px 0 0 6px;
    position: relative;
    width: 463px;
    padding-left: 72px;
}

.search-icon {
    position: absolute;
    left: 32px;
}

.search-location {
    position: relative;
    width: 300px;
    padding-left: 56px;
    flex-shrink: 10;
}

.location-icon {
    position: absolute;
    left: 487px;
}

/* CHECKBOX */
.checkbox {
    display: flex;
    align-items: center;
    padding-left: 32px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-full {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--checkbox-color);
    opacity: 0.1;
    margin-right: 16px;
}

.checkbox-full::before {
    position: absolute;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border: 3px dashed var(--header-bg-color);
    content: "";
    transform: translate(0);
    opacity: 0;
}

/* Focus */
.checkbox-input:focus + .checkbox-full::before {
    transform: translate(1);
    opacity: 1;
}

/* Checked */
.checkbox-input:checked + .checkbox-full {
    background-color: var(--header-bg-color);
    background-image: url(../img/checked.svg);
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}


.button {
    background-color: var(--header-bg-color);
    padding: 16px 35px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin-left: 26px;
    border-radius: 5px;
}

.button:hover {
    background-color: #939BF4;
}

.button:active {
    opacity: 0.6;
}

/* BOXES */
.boxes {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-top: 70px;
    margin-left: -30px;
    margin-bottom: -9px;
}

.box {
    position: relative;
    width: 350px;
    padding: 50px 50px 36px 32px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    margin-left: 30px;
    margin-bottom: 65px;
}

.logo-icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.time {
    margin-bottom: 16px;
}

.when {
    margin-right: 12px;
}

.duration::before {
    width: 4px;
    height: 4px;
    margin-right: 12px;
    content: ".";
}

.box-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: var(--box-link-color);
    margin-bottom: 17px;
}

.company {
    margin-bottom: 44px;
}

.where {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--where-color);
}

/* BUTTON */
.load-button {
    padding: 16px 30px;
}
.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DETAIL */
.company-container {
    width: 100%;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.company {
    align-items: center;
    position: relative;
    transform: translateY(-50%);    
    display: flex;
    background-color: var(--color-white);
    border-radius: 6px;
}

.company-icon {
    width: 140px;
    height: 140px;
    border-radius: 0px 0px 0px 6px;
    margin-right: 40px;
}

.about-company {
    display: flex;
    flex-direction: column;
    margin-right: 295px;
}
.company-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--box-link-color);
    margin-bottom: 13px;
}

.company-link {
    font-weight: 700;
    padding: 16px 20px;
    background-color: var(--company-link);
    color: var(--header-bg-color);
}